*{
    padding: 0;
    margin: 0;
}
body{
    width: 480px;
    margin: 0 auto;
}
@media screen and (max-width: 480px)
{
   body{
    background-image: url("../kami.jpeg");
   }
    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
    }
    .wrapper h1{
        margin-left: 150px;
        width: 560px;
        font-size: 25px;
        color: #ffffff;
    }
    .buttons input {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .btn_send{
        display: flex;
        gap: 60px;
        margin-left: 12px;
      }
      .btn_send button{
  
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            
      }
      .btn_send .red{
        background-color: red;
      }
      .alisher{
        color: white;
        margin-left: 150px;
      }
      .love{
        margin-left: 120px;
        
        background-color: White;
        width: 250px;
        height: 230px;
        text-align: center; 
        display: none;
        border-radius: 10px;
        padding: 10px 10px;
      }
      .love:after{
        content: url("../love-gif.gif");
    
        position: relative;
        top: 50px;
        right: 5px;
      }

}